<!DOCTYPE html>
<html>
<title>Open Source social network</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="/static/src/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/src/css/style.css" rel="stylesheet">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="#home" class="w3-bar-item w3-button"><b>Smart Community Social Network </b></a>

    <div class="w3-right w3-hide-small">

      <a href="#Services" class="w3-bar-item w3-button">Services</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        <a href="showSignUp" class="w3-bar-item w3-button">Signup</a>
        <a href="showSignin" class="w3-bar-item w3-button">Login</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home"><br>
 <img src="/static/test.png.jpeg" class="img-rounded" alt="Cinque Terre" width="1280" height="550">
   <div class="w3-display-middle w3-margin-top w3-center">
       <h1 class="w3-xxlarge w3-text-white"></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="Services">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Services</h3>
  </div>

  <div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-72257">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-72257">
					</li>
					<li data-slide-to="1" data-target="#carousel-72257">
					</li>
					<li data-slide-to="2" data-target="#carousel-72257">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="OSSN" src="/static/OSSN.png"  height="400" width="400" >
						<div class="carousel-caption">

                            <h3 style="color:black">     Create a Community

                            </h3>

						</div>
					</div>

					<div class="item">
						<img alt="OSSN" src="/static/ossn3.png"  height="400" width="400" >

						<div class="carousel-caption">

                            <h3 style="color:black">    Search a community

                            </h3>

						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-72257" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-72257" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>





  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>

  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/shivam2.jpg" alt="Shivam" style="width:100%" height="260" width="42">
      <h3>Shivam</h3>
      <p class="w3-opacity">shivamgupta01@gmail.com</p>
      <p>Shivam Kumar Gupta is a Mater’s Student at SJSU. He is very passionate about making the world a better place.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/tanay2.png" alt="Tanay" style="width:100%" height="260" width="42">
      <h3>Tanay</h3>
      <p class="w3-opacity">tanayr03@gmail.com</p>
      <p>Currently pursuing Masters in Software Engineering at SJSU, very passionate and hard working.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/abhishek.png" alt="Abhishek" style="width:100%" height="260" width="42">
      <h3>Abhishek</h3>
      <p class="w3-opacity">abhishek.ch@gmail.com</p>
      <p>A Computer Science graduate with 3 years of industrial experience. Currently pursuing Masters in Software Engineering at SJSU</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/phong.png" alt="Phong" style="width:100%" height="260" width="42">
      <h3>Phong</h3>
      <p class="w3-opacity">phong12@gmail.com</p>
      <p>software developer,actively looking for new opportunities to bring experience with technology and web development to leading companies incorporating problem solving.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your and our next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- Google Map -->
<div id="googleMap" class="w3-grayscale" style="width:100%;height:450px;"></div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="http://www.sjsu.edu/" title="W3.CSS" target="_blank" class="w3-hover-text-green">SJSU</a></p>
</footer>

<!-- Add Google Maps -->

    <script src="/static/src/js/jquery.min.js"></script>
    <script src="/static/src/js/bootstrap.min.js"></script>
    <script src="/static/src/js/scripts.js"></script>
</body>
</html>
