<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello, {{name}}</title>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/static/src/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/src/css/style.css" rel="stylesheet">
      <link href="/static/layout/src/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/layout/src/css/style.css" rel="stylesheet">


    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

  </head>
  <body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="panel-group" id="panel-474773">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-474773" href="#panel-element-30463">Create a community</a>
							</div>
							<div id="panel-element-30463" class="panel-collapse collapse">
								<div class="panel-body">

									<!--/Write here-->


                                      {% block content %}

<div class="enter-name">
    <div class="grid-100">
        <form action="{{ url_for('save') }}" method="POST">
            <h2>SELECT ROOT </h2>
            <label>Select where you want to create your community:</label>
            <form action="{{ url_for('save') }}" method="POST">
            <select name="baseLocation">
            {% for value in savedList %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
            </select>
            <br>
            Community Name : <input type="text" name="communityName">
            <input type="submit" value="Save!">
            </form>
        </form>
    </div>
</div>
{% endblock %}
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="panel-group" id="panel-495072">
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-495072" href="#panel-element-864404">Search a community</a>
							</div>
							<div id="panel-element-864404" class="panel-collapse collapse">
								<div class="panel-body">
									Search available communities
									<form action="{{ url_for('searchRes') }}" method="POST">
                                     <select name="searchForm">
                                         {% for value in savedList %}
                                            <option value="{{ value }}">{{ value }}</option>
										 {% endfor %}
									 </select>
									<br><br>
                                    <input type="submit" value="JOIN THE COMMUNITY!">
                                   </form>


								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>
